* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #6c9bcf;
  --color-danger: #ff0060;
  --color-success: #1b9c85;
  --color-warning: #f7d060;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --info-dark: #7d8da1;
  --dark: #363949;
  --light: rgba(132, 139, 200, 0.18);
  --dark-variant: #677483;
  --light-white: #fff;
  --white: hsla(0, 0%, 100%, 0.6);
  --white_a3: hsla(0, 0%, 100%, 0.03);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --cultured: hsla(220, 20%, 97%, 1);
  --lavender-web: hsla(233, 52%, 94%, 1);
  --raisin-black: rgb(198, 200, 203);
  --black: rgb(0, 0, 0);
  --youth-green: rgb(112, 200, 152);
  --youth-green-2: rgb(98, 217, 151);
  --youth-green-3: rgb(52, 183, 110);
  --youth-green-4: rgb(225, 246, 234);
  --bg-green: rgb(229, 243, 229);
  --blackish-green: rgb(40, 72, 64);
  --blue-purple: rgb(153, 180, 222);
  --youth-blue: rgb(199, 206, 232);
  --youth-blue-dark: rgb(144, 162, 216);
  --youth-blue-purple: rgb(98, 125, 211);
  --red: rgb(255, 0, 0);
  --dark-pink: hsl(358, 91%, 70%);
  --light-raisin-black: rgb(79, 79, 100);
  --more-raisin-black: rgba(146, 146, 151, 0.274);
  --light-gray: rgb(139, 128, 128);
  --dark-gray: rgb(146, 137, 137);
  --youth-blue-2: rgb(215, 223, 250);
  --youth-blue-3: rgb(244, 246, 252);
  --blue: rgb(83, 147, 194);
  --blue-crayola: hsla(219, 72%, 56%, 1);
  --purplr-crayola: #c471d6;
  --pink-crayola: #ff74b0;
  --orange-crayola: #ff9483;
  --orange-crayola-light: #ffcac2;
  --yellow-crayola: #f9f871;

  --deongaree: #8b98e4;
  --deongaree-pr: #db95e0;
  --deongaree-pi: #ff96c1;
  --deongaree-or: #ffaa95;
  --deongaree-yw: #f3f3e2;

  --card-border-radius: 30px;
  --border-radius-1: 10px;
  --border-radius-2: 15px;

  --card-padding: 25px;
  --padding-1: 18px;

  --box-shadow: 0 2rem 3rem var(--color-light);

  --fs-1: 12px;
  --fs-2: 16px;
  --fs-3: 20px;
  --fs-4: 24px;
  --fs-5: 2rem;
  --fs-6: 3rem;
}

body {
  background-color: var(--color-background);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}
